.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  left: 200px;
  bottom: 200px;

}
.container-formCreate{
  position: relative;
  bottom: 90px;
  left: 200px;
  
}
.container-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 170%;
  position: relative;
  right:-100px ;
  bottom:100px;
}

